fastapi
uvicorn
gunicorn
sqlalchemy
databases
python-jose[cryptography] 
requests                 
httpx                  
python-dotenv               
pytest
pytest-asyncio
pydantic[email]
passlib
bcrypt==4.0.1
pydantic_settings
openai>=1.0.0
boto3
python-multipart
PyJWT
fastapi_mail
sqlalchemy[postgresql]
databases[postgresql]
mangum
asyncpg
psycopg2-binary 
psycopg2
python-docx
pypdf2
pillow
pytesseract
pdf2image 
beautifulsoup4
weasyprint
fastapi-cache2[redis]
redis
orjson
websockets

mistralai[realtime]>=1.8.2